body {    
    background-image: url(../img/BackGround-red.jpg);
    background-size: cover;
}

.css-login {
    width: 500px;
    /* border: 2px solid green; */
    border-radius: 20px;
}


.css-login-separator {
    height: 2px;
}
