* {
    margin: 0;
    padding: 0;
}
body {
    background: url('/assets/img/background-register.jpg') no-repeat center center/cover;
}

form {
    color: white;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    width: 450px;
    border-radius: 10px;
    border: 0.3px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
}
form h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}
small {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
}
.text-danger {
    color: #ff4d4d;
}

.icons {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    gap: 20px;
}

.form-check-label {
    text-align: left;
}
a {
    text-decoration: none;
}
.btn {
    margin-top: 20px;
}

/* Subir */